<div id="footer" class="container my-5">

  <footer class="text-center text-lg-start" style="background-color: #db6930;">
    <h1>AQUI VEM O FOOTER</h1>
    <!-- Copyright -->
  </footer>

</div>
<!-- End of .container -->