<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="footer-container">

  <footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-3">
      <!-- Facebook -->
      <a  href="#!" role="button"
        ><img class="socials-rede" src="src/icons/whatsapp.png" alt=""></a>

      <!-- Instagram -->
      <a  href="#!" role="button"
        ><img class="socials-rede" src="src/icons/github.png" alt=""></a>
      <!-- Github -->
      <a  href="#!" role="button"
        ><img class="socials-rede" src="src/icons/Instagram.png" alt=""></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Jonathan Junio</a>
  </div>
  <!-- Copyright -->
</footer>
  
</div>
<!-- End of .container -->