<div class="container-form">
    <label for="select-book" class="form-label">Livro</label>
    <select class="form-select" id="select-book" aria-label="Default select example">
        <option selected>Escolha o livro</option>
    </select>
</div>
<div class="container-form">
    <label for="select-capitule" class="form-label">Capítulo</label>
    <p>(O capitulo deve ser escolhido somente depois da escolha do livro)</p>
    <select class="form-select" id="select-capitule" aria-label="Default select example">
        <option selected>Escolha o capitulo</option>
    </select>
</div>
<div class="container-form">
    <button id="buttom-submit" type="submit" class="btn btn-primary">Submit</button>
</div>