<%- include('./partials/header')%>
<body>
    <%- include('./partials/navbar')%>
    <h1><%= nome%> é o misericordioso!</h1>
    <p>Senhor é meu pastor e nada me faltara!</p>
    <img src="./src/biblia.png" alt="" width="300" height="400">
</body>
</html> 