<%-include('./partials/header')%>
<body>
    <div class="footer-container">
        <%-include('./partials/navbar')%>
        <div class="container_main">
            <div class="jesus">
                <h1>Jesus</h1>
            </div>
            <div id="img-jesus">
                <img src="src/biblia.png" width="200" height="200" alt="">
            </div>
        </div>
        <div>
            <h3 id="h3">Salmos 91</h3>
            <p>¹ Aquele que habita no esconderijo do Altíssimo, à sombra do Onipotente descansará.
                ² Direi do Senhor: Ele é o meu Deus, o meu refúgio, a minha fortaleza, e nele confiarei.
                ³ Porque ele te livrará do laço do passarinheiro, e da peste perniciosa.
                ⁴ Ele te cobrirá com as suas penas, e debaixo das suas asas te confiarás; a sua verdade será o teu escudo e broquel.
                ⁵ Não terás medo do terror de noite nem da seta que voa de dia,.
                ⁶ Nem da peste que anda na escuridão, nem da mortandade que assola ao meio-dia.
                ⁷ Mil cairão ao teu lado, e dez mil à tua direita, mas não chegará a ti.
                ⁸ Somente com os teus olhos contemplarás, e verás a recompensa dos ímpios.
                ⁹ Porque tu, ó Senhor, és o meu refúgio. No Altíssimo fizeste a tua habitação.
                ¹⁰ Nenhum mal te sucederá, nem praga alguma chegará à tua tenda.
                ¹¹ Porque aos seus anjos dará ordem a teu respeito, para te guardarem em todos os teus caminhos.
                ¹² Eles te sustentarão nas suas mãos, para que não tropeces com o teu pé em pedra.
                ¹³ Pisarás o leão e a cobra; calcarás aos pés o filho do leão e a serpente.
                ¹⁴ Porquanto tão encarecidamente me amou, também eu o livrarei; pô-lo-ei em retiro alto, porque conheceu o meu nome.
                ¹⁵ Ele me invocará, e eu lhe responderei; estarei com ele na angústia; dela o retirarei, e o glorificarei.
                ¹⁶ Fartá-lo-ei com longura de dias, e lhe mostrarei a minha salvação. 
                
                Salmos 91:1-16</p>
        </div>
        <%-include('./partials/footer')%>
    </div>
</body>
    <script src="./js/index2.js"></script>
</html>