<%-include('./partials/header')%>
<body>
    <div class="container_body">
        <%-include('./partials/navbar')%>
        <div class="container_main">
            <div class="jesus">
                <h1>Jesus</h1>
            </div>
            <div id="img-jesus">
                <img src="src/biblia.png" width="200" height="200" alt="">
            </div>
        </div>
        <%-include('./partials/form_main')%>
        <div id="content">
            <div id="p-container">
                <div id="information">
                    <p class="text-temp">""</p>
                </div>
            </div>
        </div>
        <%-include('./partials/footer')%>
    </div>
</body>
    <script src="./js/index2.js"></script>
</html>