html*{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
body{
    background-color: rgb(227, 206, 206);
}
.container_main{
    width: 100vw;
    height: 40vh;
}
h1{
    text-align: center;
    font-size: 30pt;
}
.jesus{
    position: absolute;
    width: 100vw;
    height: 40vh;
    z-index: 3;
}
#img-jesus{
    position: absolute;
    width: 100vw;
    height: 10vh;
    text-align: center;
    margin-top: 6rem;
}
#footer{
    width: 100vw;
    height: 30vh;
}
.paragraph{
    width: 100vw;
    text-align: center;
}
.container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
#select-book{
    width: 20vw;
}
#select-capitule{
    width: 20vw;
}
.text-temp{
    color: rgb(80, 102, 228);
    text-align: left;
}
p{
    text-align: center;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
#p-container{
   margin-top: 3rem;
}
#information{
    color: black;
    text-align: center;
    width: 80vw;
}
.socials-rede{
    width: 3rem;
    height: 3rem;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100vw;
    height: 25vh;
}
footer{
    width: 100vw;
}

#btn{
    display: flex;
    justify-content: center;
    align-items: center;
}